<h1>Performance Dashboard</h1>

    <h3>KPIs</h3>
 
    <p>
        <b>Action close-out rate:</b> 
        <%= ((@over.to_f/@year_count.to_f)*100).round(2) %> %.<br/>
        
        <b>Number of open Actions - Type A:</b>
        <%= @typeA_num %>  
        <b>Type B:</b>
        <%= @typeB_num %>
        <b>Type C:</b>
        <%= @typeC_num %><br/>
    
    </p>

<div class="chart-wrapper col-xs-6">
    <% stackcol_data2 = [
        {
            name: "Due",
            data: @series3
            },
        {
            name: "Over-Due",
            data: @series4
            }
        ]
        %>
    <%= column_chart stackcol_data2, width: "300px", height: "300px"%>
</div>

<div class="chart-wrapper col-xs-6">
    <% pie_data =
        {
            Due: @due,
            Overdue: @over
        }
    %>
    <%= pie_chart pie_data, donut: true, width: "300px", height: "300px"%>
</div>

<div class="chart-wrapper col-xs-12">
    <% stackcol_data1 = [
        {
            name: "Due",
            data: @series1
            },
        {
            name: "Over-Due",
            data: @series2
            }
        ]
        %>
    <%= column_chart stackcol_data1, stacked: true, width: "600px", height: "400px"%>
</div>