<br/><br/>

<div class="form-wrapper">

	<h1>USER LOG IN</h1>
	<br/>

	<%= form_for(:session, url: login_path, :method => :post) do |f| %>
	    <%= f.email_field :email, :placeholder => "Email" %>
	    <br/><br/>
	    <%= f.password_field :password, :placeholder => "Password" %>
	    <br/><br/>
	    <%= f.submit "Log In", class: "btn btn-primary" %>
	    <br/>
	<% end %>
	<br/>
	<p>New user? <%= link_to "Sign up now!", signup_path %></p>

</div>
