<% if action.date_target < Time.now %>
	<tr class="overdue">
	  <td class="first_two_cols"><%= link_to action.id, action_path(action.id) %></td>
	  <td class="first_two_cols"><%= action.owner %></td>
	  <td class="last_three_cols"><%= action.description %></td>
	  <td class="last_three_cols"><%= action.progress %></td>
	  <td class="last_three_cols"><%= action.closeout %></td>
	</tr>
<% elsif action.date_target <= Time.now + 1.month %>
	<tr class="urgent">
	  <td class="first_two_cols"><%= link_to action.id, action_path(action.id) %></td>
	  <td class="first_two_cols"><%= action.owner %></td>
	  <td class="last_three_cols"><%= action.description %></td>
	  <td class="last_three_cols"><%= action.progress %></td>
	  <td class="last_three_cols"><%= action.closeout %></td>
	</tr>
<% else %>
	<tr class="due">
	  <td class="first_two_cols"><%= link_to action.id, action_path(action.id) %></td>
	  <td class="first_two_cols"><%= action.owner %></td>
	  <td class="last_three_cols"><%= action.description %></td>
	  <td class="last_three_cols"><%= action.progress %></td>
	  <td class="last_three_cols"><%= action.closeout %></td>
	</tr>
<% end %>