<div class="form-wrapper">
  <%= form_for(:actions, url: action_path, method: :patch) do |f| %>
      <%#= render 'shared/error_messages', object: f.object %>
       <%# debugger  %>
      <%= f.label  :refernce_number %>
      <%= f.text_field  :refernce_number, class: 'form-control', :placeholder => @actions.refernce_number, :disabled=>true %>
      <%= f.hidden_field  :refernce_number, :value => @actions.refernce_number %>
      
      <%= f.label  :initiator %>
      <%= f.text_field  :initiator, class: 'form-control', :placeholder => "#{@actions.initiator}", :disabled=>true %>
      <%= f.hidden_field  :initiator, :value => "#{@actions.initiator}" %>
      <br/>
      <%= f.label :date_time_created %>
      <%= f.datetime_local_field :date_time_created, class: 'form-control' %>
      <br/>
      <%= f.label  :owner %>
      
      <%= f.collection_select(:owner, User.order(:last_name),:id,:last_name, {:include_blank => true}, {:id =>"choose-owner"}) %>
      <br>
      <%= f.text_field  :owner, class: 'form-control', :disabled => true, :id => "owner_dummy" %>
      <%= f.hidden_field  :owner, :value => "#{@actions.owner}" %>
      
      
      <%= f.label  :source %>
      <%= f.text_field  :source, class: 'form-control', :placeholder => "#{@actions.source}" %>
      
      <%= f.label "Action Type" %>
      <%= f.radio_button :type_ABC, "A" %>
      <%= f.label :type_ABC, "A" %>
      <%= f.radio_button :type_ABC, "B" %>
      <%= f.label :type_ABC, "B" %>
      <%= f.radio_button :type_ABC, "C" %>
      <%= f.label :type_ABC, "C" %>
   
        <br />        
      <%= f.label :target_date %>
      <%= f.date_field :date_target, class: 'form-control', :value => @actions.date_target %>
      
      <%= f.label :description %>
      <%= f.text_area :description, class: 'form-control'  %>
      
      <%= f.label :progress %>
      <%= f.text_area :progress, class: 'form-control' %>
      
      <%= f.label :closeout %>
      <%= f.text_area :closeout, class: 'form-control' %>
      <br/>
      
      <%= f.label :closed_flag, "Action Closed" %>
      <%= f.check_box :closed_flag, disabled: :true %>
       
        <br />
      <%= f.submit "Update this Action", class: "btn btn-primary" %>
      
      
  <% end %>
  
  <br/>
  <%= link_to "Request Action Extension", extendplease_path(@actions.id), method: :patch, class:"btn btn-primary", id: "approve-button" %>
  <%= link_to "Request Action Close-out", closeplease_path(@actions.id), method: :patch, class:"btn btn-primary", id: "close-button" %>
  <br/><br/>

  
  <% if @user.approval_type == nil %>
  <% elsif @user.approval_type == "B and C Type" %>
    <% if @actions.type_ABC == "A" %>
    <% else %>
      <%= link_to "Reject Extension Request", reject_path(@actions.id), class:"btn btn-primary", id: "approve-button" %>
      <%= link_to "Extend Action", extend_path(@actions.id), method: :patch, class:"btn btn-primary", id: "close-button" %>
      <br/>
      <%= link_to "Reject Close Request", reject_path(@actions.id), class:"btn btn-primary", id: "approve-button" %>
      <%= link_to "Close Action", close_path(@actions.id), method: :patch, class:"btn btn-primary", id: "close-button" %>
    <% end %>
  <% else %>
    <%= link_to "Reject Extension Request", reject_path(@actions.id), class:"btn btn-primary", id: "approve-button" %>
    <%= link_to "Extend Action", extend_path(@actions.id), method: :patch, class:"btn btn-primary", id: "close-button" %>
    <br/>
    <%= link_to "Reject Close Request", reject_path(@actions.id), class:"btn btn-primary", id: "approve-button" %>
      <%= link_to "Close Action", close_path(@actions.id), method: :patch, class:"btn btn-primary", id: "close-button" %>
  <% end %>

</div>