<% provide(:button_text, "Update this Action") %>
<% provide(:path, action_path) %>
<% provide(:method_text, :patch) %>
<% provide(:show_flag, "") %>

<% # Main body of the view %>

<h2>Action Information</h2>

<div class="form-wrapper">
  
  <%= render 'layouts/form_action' %>
  
  <br/>
  
  <% if @user.approval_type == nil %>
    <table>
        <tr>
          <td>
            <%= link_to "Request Action Extension", extendplease_path(@actions.id), method: :patch, class:"btn btn-primary" %>
          </td>
          <td>
            <%= link_to "Request Action Close-out", closeplease_path(@actions.id), method: :patch, class:"btn btn-primary" %>
          </td>
        </tr>
      </table>
  <% elsif @user.approval_type == "B and C Type" %>
    <% if @actions.type_ABC == "A"%>
    <% elsif @actions.type_ABC == "B" && @actions.extensions_number >= 1 %>
    <% else %>
      <table>
        <tr>
          <td>

            <%= link_to "Request Action Extension", extendplease_path(@actions.id), method: :patch, class:"btn btn-primary" %><br/><br/>
              <% if @actions.extend_request_flag %>
                <%= link_to "Reject Extension Request", reject_path(@actions.id), class:"btn btn-primary" %><br/><br/>
                <%= link_to "Extend Action", extend_path(@actions.id), method: :patch, class:"btn btn-primary" %>
              <% end %>
          </td>
          <td>
            <%= link_to "Request Action Close-out", closeplease_path(@actions.id), method: :patch, class:"btn btn-primary" %><br/><br/>
              <% if @actions.close_request_flag %>
                <%= link_to "Reject Close Request", reject_path(@actions.id), class:"btn btn-primary" %><br/><br/>
                <%= link_to "Close Action", close_path(@actions.id), method: :patch, class:"btn btn-primary" %>
              <% end %>
          </td>
        </tr>
      </table>
    <% end %>
  <% else %>
    <table>
        <tr>
          <td>
            <%= link_to "Request Action Extension", extendplease_path(@actions.id), method: :patch, class:"btn btn-primary" %><br/><br/>
            <% if @actions.extend_request_flag %>
            <%= link_to "Reject Extension Request", reject_path(@actions.id), class:"btn btn-primary" %><br/><br/>
            <%= link_to "Extend Action", extend_path(@actions.id), method: :patch, class:"btn btn-primary" %>
            <% end %> 
          </td>
          <td>
            <%= link_to "Request Action Close-out", closeplease_path(@actions.id), method: :patch, class:"btn btn-primary" %><br/><br/>
            <% if @actions.close_request_flag %>
              <%= link_to "Reject Close Request", reject_path(@actions.id), class:"btn btn-primary" %><br/><br/>
              <%= link_to "Close Action", close_path(@actions.id), method: :patch, class:"btn btn-primary" %>
            <% end %>
          </td>
        </tr>
      </table>
  <% end %>

</div>