<div class="wrapper">
    <h2>Owned Actions</h2>
    <br/>
    <p>
        <%= link_to "Action Options", actions_options_path, class:"btn btn-primary", method: :get %>
      Download:
      <%= link_to "CSV", owned_actions_path(format: "csv") %> |
      <%= link_to "Excel", owned_actions_path(format: "xls") %>
    </p>
    <table class="actions">
        <tr>
            <th>Reference Number</th>
            <th>Owner</th
            ><th>Description</th>
            <th>Progress</th>
            <th>Close-out</th>
        </tr>
        <%= render @actions_owned  %>
    </table>
    
    <br/>
    
    <h2>Created Actions</h2>
    <br/>
    <p>
        <%= link_to "Action Options", actions_options_path, class:"btn btn-primary", method: :get %>
      Download:
      <%= link_to "CSV", created_actions_path(format: "csv") %> |
      <%= link_to "Excel", created_actions_path(format: "xls") %>
    </p>
    <table class="actions">
        <tr>
            <th>Reference Number</th>
            <th>Owner</th
            ><th>Description</th>
            <th>Progress</th>
            <th>Close-out</th>
        </tr>
      <%= render @actions_created %>
    </table>
    
    <br/>
    
</div>