<h1>Users</h1>

<p>
      Download:
      <%= link_to "CSV", users_path(format: "csv") %> |
      <%= link_to "Excel", users_path(format: "xls") %>
</p>

<div class="wrapper">
    
    <% if current_user.level >= 3 || current_user.team == "SHEQ" %>
    	<%= label_tag :team %>
    	<% team_options = "" %>
    	<% $Teams_arr.each do |team| %>
    	    <% team_options = team_options + "<option>" + team[0] + "</option>" %>
    	<% end %>
    	<%= select_tag(:team, team_options.html_safe, prompt: "All") %>
     	<br/>
     	<br/>
    <% end %>
    
    <%= render @users %>
    
    
</div>
