
<tr>
  <td class="first_two_cols"><%= link_to event.reference_number, event_path(event.id) %></td>
  <td class="last_three_cols"><%= event.what_happened %></td>
  <td class="last_three_cols"><%= event.immediate_actions %></td>
  <td class="last_three_cols"><%= event.follow_up %></td>
  <td class="first_two_cols">
	<% if event.report_form? %>
		<%= link_to("Click Here", event.report_form_url) %></td>
	<% end %>
  <td class="first_two_cols">
      <% if event.actions.ids.empty? %>
      	<% else %>
    	  	<% for i in (0..event.actions.ids.length-2) do %>
    	  		<%= link_to(event.actions.ids[i], action_path(event.actions.ids[i])) %>
    	  	<% end %>
    	  	<%= link_to(event.actions.ids.last, action_path(event.actions.last.id)) %>
    	<% end %>
  </td>
</tr>
