<div class="wrapper">
    
    <% if params[:search] %>
        
        <% if @documents_result.blank? %>
            <br/>
            <h3>There are no documents matching the search term: <%= params[:search] %></h3>
        <% else %>
            <h2>Seach results for: <%= params[:search] %> </h2>
            
            <% search = params[:search] %>

    	    <p>
    		<%= link_to "CSV", search_documents_path(:format => "csv", :search => "#{search}" ) %> | 
    		<%= link_to "Excel", search_documents_path(:format =>"xls", :search => "#{search}" ) %>
    	    </p>
            
            <table class="actions">
            <tr>
                <th>Type</th>
                <th>Number</th>
                <th>Issue</th>
                <th>Title</th>
                <th>Status</th>
                <th>Comments</th>
            </tr>
            <%= render @documents_result  %>
        </table>
            
        <% end %>
    
    <% else %>
    
        <%= form_tag(documents_path, method: :get) do %>
            <%= label_tag :doc_type, "Document Type" %>
            <%#= checkbox %>
        <% end %>

        <h2>Documents: <%=params[:type]%></h2>
        <br/>
        
        <table class="actions">
            <tr>
                <th>Type</th>
                <th>Number</th>
                <th>Issue</th>
                <th>Title</th>
                <th>Status</th>
    	        <th>Comments</th>
            </tr>
            <%= render @documents  %>
        </table>
        
    <% end %>
</div>
