<% provide(:path, document_path) %>
<% provide(:show_flag, "show" ) %>
<% provide(:method_text, :patch) %>

<h1>Document Information</h1>

<div class="row">

<table>
  <tr>
    <td>
      <div class="doc-wrapper">

        <%= render 'layouts/form_document' %>
    
      </div>
    </td>
    <td>
      <h3>Document Options</h3>
      
      <br/><br/>
      
      <%= link_to "Create New Issue", new_document_path, :class => "btn btn-primary" %><br/><br/>
      <%= link_to "Submit for Review", reviewplease_documents_path, :class => "btn btn-primary" %><br/><br/>
      <%= link_to "Submit for Approval", approveplease_documents_path, :class => "btn btn-primary" %><br/><br/>
      <%= link_to "Return Document to Author", "#", :class => "btn btn-primary" %><br/><br/>
      <%= link_to "Edit Document", edit_document_path(@documents.id), :class => "btn btn-primary" %><br/>
      
    </td>
  </tr>
</table>

</div>

<div class="thumbnail-wrapper">

  <%= image_tag "thumb-#{current_user.id}.png", size: "20x30" %>
  <%#= image_tag "smiley_face.png", size: "200x300" %>

</div>