<% provide(:path, document_path) %>
<% provide(:show_flag, "show" ) %>
<% provide(:method_text, :patch) %>

<h1>Document Information</h1>

<div class="row">

<table>
  <tr>
    <td class="last-three-cols">
      <div class="doc-wrapper">

        <%= render 'layouts/form_document' %>
    
      </div>
    </td>
    <td class="first_two_cols">
      <h3>Document Options</h3>
      
      <%= link_to "Create New Issue", upissue_documents_path(:id => @documents.id), :class => "btn btn-primary", data: { confirm: "Are you sure?" } %><br/><br/>
      
      <% if @documents.status == "Awaiting Review" || @documents.status == "Awaiting Approval" %>
        <%= link_to "Return Document", "#", :class => "btn btn-primary" %><br/><br/>
      <% end %>
      <% if @documents.status == "In Prep" || @documents.status == "Awaiting Review" || @documents.status == "Awaiting Approval" || @documents.status == "Approved" %>
        <% if @documents.checked_out_flag == true && @documents.checked_out_by == current_user.id || current_user.team == "SHEQ" %>
          <%= link_to "Edit Document", edit_document_path(@documents.id), :class => "btn btn-primary" %><br/><br/>
        <% elsif @documents.checked_out_flag == false && @documents.status != "Approved" || current_user.team == "SHEQ" %>
          <%= link_to "Edit Document", edit_document_path(@documents.id), :class => "btn btn-primary" %><br/><br/>
        <% end %>
        <% if @documents.status == "In Prep" && @documents.checked_out_flag == false %>
          <%= link_to "Submit for Review", reviewplease_documents_path(@documents.id), :class => "btn btn-primary", method: :patch %><br/><br/>
        <% end %>
        <% if @documents.status == "Awaiting Review" && @documents.checked_out_flag == false %>
          <%= link_to "Submit for Approval", approveplease_documents_path(@documents.id), :class => "btn btn-primary", method: :patch %><br/><br/>
        <% end %>
        <% if @documents.status == "Awaiting Approval" && @documents.checked_out_flag == false %>
          <%= link_to "Approve Document", approved_documents_path(@documents.id), :class => "btn btn-primary", method: :patch %><br/><br/>
        <% end %>
        <% if current_user.team = "SHEQ" %>
          <% if @documents.status == "Approved" && @documents.checked_out_flag == false %>
            <%= link_to "Issue Document", issued_documents_path(@documents.id), :class => "btn btn-primary", method: :patch %><br/><br/>
          <% end %>
        <% end %>
      <% end %>
      
    </td>
  </tr>
</table>

</div>

<div class="thumbnail-wrapper">

  <%= image_tag "thumb-#{current_user.id}.png", size: "20x30" %>
  <%#= image_tag "smiley_face.png", size: "200x300" %>

</div>