<%= form_for :documents, url: yield(:path), :method => yield(:method_text) do |f| %>
      
      <% if @documents.new_record? %>
            
            <%= f.label :report_form, "Upload UNOR form (.doc, .docx, .pdf)" %>
            <div class="file-input">
                  <%= f.file_field :report_form %>
            </div>
      
      <% else %>

            <% if yield(:show_flag) == "" %>
                  <h3><b><%= @documents.doc_type + "/" + @documents.doc_number.to_s %></b> <small>Issue #<%= @documents.issue_number %></small></h3>
                  <%= f.label :title %>
                  <%= f.text_field :title, class: "form-control" %>
            <% else %>
                  <h3><b><%= @documents.doc_type + "/" + @documents.doc_number.to_s %></b> <small>Issue #<%= @documents.issue_number %></small></h3>
                  <h3><i><%= @documents.title %></i></h3>
            <% end %>
            
            <% if yield(:show_flag) == "" %>
                  <% if !@documents.checked_out_flag %>
                  <%= f.label :stored_doc, "Upload UNOR form (.doc, .docx)" %>
                  <div class="file-input">
                        <%= f.file_field :report_form %>
                  </div>
                  <% end %>
            <% else %>
                  <p>Download/View Document (PDF): <%= link_to("Click Here", @documents.stored_pdf_url) %> </p>
            <% end %>
      <% end %>
      
      <%= f.label "Document Status: " %><%= " " + @documents.status %><br/>
      <%= f.label :checked_out_flag, "Document Checked Out:" %>
      <%= f.check_box :checked_out_flag, disabled: :true %>

      <% if @approval_route %>
            <p>View document approval route: <%= link_to "Click Here", approval_route_show_path(@approval_route.id) %>
      <% end %>

      <br/>
      <%= f.label "Document Comments:" %>
      <%= f.text_area :comments, class: "form-control", :rows => 5 %>
      
      <br/>

<% end %>