<%= form_for @user, url: yield(:path), :method => yield(:method_text) do |f| %>
        
      <%= f.label :first_name %>
      <% if yield(:show_flag) == "show" %>
            <%= f.text_field :first_name, class: 'form-control', :disabled => true %>
      <% else %>
            <%= f.text_field :first_name, class: 'form-control' %>
      <% end %>

      
      <%= f.label :last_name %>
      <% if yield(:show_flag) == "show" %>
            <%= f.text_field :last_name, class: 'form-control', :disabled => true %>
      <% else %>
            <%= f.text_field :last_name, class: 'form-control' %>
      <% end %>

      <%= f.label :email %>
      <% if yield(:show_flag) == "show" %>
            <%= f.text_field :email, class: 'form-control', :disabled => true %>
      <% else %>
            <%= f.text_field :email, class: 'form-control' %>
      <% end %>

      <% if yield(:show_flag) == "" && current_user.email == @user.email %>
            <%= f.label :password %>
            <%= f.password_field :password, class: 'form-control' %>

            <%= f.label :password_confirmation, "Confirmation" %>
            <%= f.password_field :password_confirmation, class: 'form-control' %>
      <% elsif yield(:show_flag) == "" && current_user.try(:admin) %>
            <%= f.label :password %>
            <%= f.password_field :password, class: 'form-control' %>

            <%= f.label :password_confirmation, "Confirmation" %>
            <%= f.password_field :password_confirmation, class: 'form-control' %>
      <% end %>

      <br/>
      
      <% if yield(:show_flag) == "" && current_user.try(:admin) %>
            <table>
                  <tr>
                        <td>
                              <%= f.label :team %>
                              <%= f.select(:team, [["SHEQ","SHEQ"],["Operations","Operations"],["Analytical","Analytical"],["Maintenance","Maintenance"],["Projects","Projects"],["Engineering","Engineering"],["Management","Management"]]) %>
                              <br/>
                        </td>
                        <td>
                              <%= f.label :role %>
                              <%= f.select(:role, [["Staff","Staff"],["Line Manager","Line Manager"],["Senior Manager","Senior Manager"],["Site Manager","Site Manager"]]) %>
                              <%= f.hidden_field :level, :id => "level" %>
                              <br/>
                        </td>
                  </tr>
            </table>
            
            <%= f.label "Approval Rights" %>
            <br/>

            <%= f.radio_button :approval_type, "All Types" %>
            <%= f.label :approval_type, "All Types" %>
            <%= f.radio_button :approval_type, "B and C Type" %>
            <%= f.label :approval_type, "B and C Type" %>
      <% elsif yield(:show_flag) == "show" %>
            <%= f.label :team %>
            <%= f.text_field :team, class: 'form-control', placeholder: @user.team, disabled: true %>
            <%= f.label :role %>
            <%= f.text_field :role, class: 'form-control', placeholder: @user.role, disabled: true %>
            <br/>
            <%= f.label "Approval Rights" %>
            <%= f.text_field :approval_type, class: 'form-control', placeholder: @user.approval_type, disabled: true %>
      <% end %>
      
      <br/>
      <% if yield(:show_flag) == "" %>
            <%= f.submit yield(:button_text), class: "btn btn-primary" %>
            <br/><br/>
      <% end %>
      
<% end %>