<%= form_for :documents, url: yield(:path), :method => yield(:method_text) do |f| %>
      
      <% if @documents.new_record? %>
            
            <%= f.label :doc_type, "Select Document Type" %>
            <%= f.select(:doc_type, [['INUTEC/P', 'INUTEC/P'],['INUTEC/AI', 'INUTEC/AI'],['INUTEC/WI', 'INUTEC/WI'],['INUTEC/MI', 'INUTEC/MI']], {:include_blank => true}, {:id => "choose-doc-type"}) %>
            <%= f.label :doc_number %>
            <%= f.text_field :doc_number%>
            <%= f.hidden_field :issue_number, :value => 1 %>
            <%= f.hidden_field :status, :value => "In Prep" %>
            <br
            <%= f.label :title %>
            <%= f.text_field :title, class: "form-control" %>
            
            
            <br/>
            <%= f.label "Document Comments:" %>
            <%= f.text_area :comments, class: "form-control", :rows => 5 %>
            
            <br/>
            
            <%= f.submit yield(:button_text), class: "btn btn-primary", :id => "submit-button" %>
            
      <% else %>

            <% if yield(:show_flag) == "" %>
                  <h3><b><%= @documents.doc_type + "/" + @documents.doc_number.to_s %></b> <small>Issue #<%= @documents.issue_number %></small></h3>
                  <%= f.label :title %>
                  <%= f.text_field :title, class: "form-control" %>
            <% else %>
                  <h3><b><%= @documents.doc_type + "/" + @documents.doc_number.to_s %></b> <small>Issue #<%= @documents.issue_number %></small></h3>
                  <h3><i><%= @documents.title %></i></h3>
            <% end %>
      
            <table>
                  <tr>
                        <td>
                              <%= f.label "Document Status: " %><br/><%= " " + @documents.status %><br/><br/>
                              <%= f.label :checked_out_flag, "Document Checked Out:" %>
                              <%= f.check_box :checked_out_flag %> 
                        </td>
                        <td>
                              <% if !@documents.issued_on %>
                              
                                    <% if yield(:show_flag) == "" %>
                                          <% if @documents.checked_out_flag %>
                                                
                                                <%= link_to "Check In Document", checkin_documents_path(@documents.id),class: "btn btn-primary" %><br/><br/>
                                                <p>Download Document (.doc, .docx): <%= link_to "Click Here", @documents.stored_doc_url %> </p>

                                                <%= f.label :stored_doc, "Upload Document (.doc, .docx)" %>
                                                <div class="file-input">
                                                      <%= f.file_field :stored_doc %>
                                                </div><br/>
                                                
                                          <% else %>
                                                <%= link_to "Check Out Document", checkout_documents_path(@documents.id), class: "btn btn-primary" %><br/><br/>
                                          <% end %>
                                          
                                          <p>Edit document approval route: <%= link_to "Click Here", approval_route_edit_path(@approval_route.id) %>
                                          
                                    <% end %>
                              
                              <% else %>
                              
                                    <p>Download/View Document (PDF): <%= link_to("Click Here", @documents.stored_pdf_url) %> </p>
                                    <p>View document approval route: <%= link_to "Click Here", approval_route_show_path(@approval_route.id) %>
                              
                              <% end %>
                              
                               
                        </td>
                  </tr>
            </table>
            
            <br/>
            <%= f.label "Document Comments:" %>
            <%= f.text_area :comments, class: "form-control", :rows => 5 %>
            
            <br/>
            
            <% if yield(:show_flag) == "" %>
                  <%= f.submit yield(:button_text), class: "btn btn-primary", :id => "submit-button" %>
            <% end %>
            
      <% end %>


<% end %>