<%= form_for :events, url: yield(:path), :method => yield(:method_text) do |f| %>
      
      <% if @events.new_record? %>
            <% @last_event ? lastevent = @last_event.id : lastevent = 0 %>
       
            <%= f.label  :reference_number %>
            <%= f.text_field  :reference_number, class: 'form-control', :placeholder => lastevent + 1, :disabled=>true %>
            <%= f.hidden_field  :reference_number, :value => lastevent + 1 %>
            <br/>
            
            <%= f.label :report_form, "Upload UNOR form (.doc, .docx, .pdf)" %>
            <div class="file-input">
                  <%= f.file_field :report_form, class: "file-input" %>
            </div>
            
            <%= f.hidden_field  :user_id, :value => @user.id %>
            
      
      <% else %>

            <%= f.label  :reference_number %>
            <%= f.text_field  :reference_number, class: 'form-control', :placeholder => "#{@events.id}", :disabled=>true %>
            
            <% if @events.guest_name %>
                  <%= f.label "Raised by: #{@events.guest_name}" %>
            <% elsif @events.user_id %>
                  <% raised_by = User.where('id = ?', @events.user_id).first %>
                  <%= f.label "Raised by: #{raised_by.first_name} #{raised_by.last_name}" %>
            <% else %>
	    <% end %>
            
            <% if yield(:show_flag) == "" %>
                  <br/>
                  <%= f.label :report_form, "Upload UNOR form (.doc, .docx, .pdf)" %>
                  <div class="file-input">
                        <%= f.file_field :report_form %>
                  </div>
            <% else %>
                  <p>View Report Form: <%= link_to("Click Here", viewform_events_path(@events.id)) %> </p>
                  <p>Download Report Form: <%= link_to("Click Here", @events.report_form_url) %> </p>
            <% end %>
      <% end %>

      <% if yield(:guest_flag) == "true" %>
		<%= f.label :guest_name, "Name:" %>
		<%= f.text_field :guest_name, class: 'form-control', :placeholder => "Enter name here" %>
      <% end %>
      
      <table>
            <tr>
                  <td>
                        <%= f.label :safety_flag, "Safety Related" %>
                        <% if yield(:show_flag) == "show" %>
                              <%= f.check_box :safety_flag, disabled: :true %>
                        <% else %>
                              <%= f.check_box :safety_flag %>
                        <% end %>

                        <br/>

                        <%= f.label :environmental_flag, "Environment Related" %>
                        <% if yield(:show_flag) == "show" %>
                              <%= f.check_box :environmental_flag, disabled: :true %>
                        <% else %>
                              <%= f.check_box :environmental_flag %>
                        <% end %>
                  </td>
                  <td>
                        <%= f.label :security_flag, "Security Related" %>
                        <% if yield(:show_flag) == "show" %>
                              <%= f.check_box :security_flag, disabled: :true %>
                        <% else %>
                              <%= f.check_box :security_flag %>
                        <% end %>

                        <br/>

                        <%= f.label :quality_flag, "Quality Related" %>
                        <% if yield(:show_flag) == "show" %>
                              <%= f.check_box :quality_flag, disabled: :true %>
                        <% else %>
                              <%= f.check_box :quality_flag %>
                        <% end %>
                  </td>
            </tr>
      </table>

      <%= f.label :injury_flag, "Injury" %>
      <% if yield(:show_flag) == "show" %>
            <%= f.check_box :injury_flag, disabled: :true %>
      <% else %>
            <%= f.check_box :injury_flag %>
      <% end %>
      
      <br/>

      <table>
            <tr>
                  <td>
                        <%= f.label :date_raised, 'Date created' %>
                        <% if @events.new_record? %>
                              <%= f.date_field :date_raised, class: 'form-control' %>
                              <%= f.hidden_field  :date_raised, :value => Time.now.to_date %>
                        <% elsif yield(:show_flag) == "show" %>
                              <%= f.datetime_local_field :date_raised, class: 'form-control', :disabled => true %>
                        <% else %>
                              <%= f.datetime_local_field :date_raised, class: 'form-control' %>
                        <% end %>
                  </td>
                  <td>
                        <%= f.label :date_closed %>
                        <% if yield(:show_flag) == "show" %>
                              <%= f.date_field :date_closed, class: 'form-control', :value => @events.date_closed, :disabled => true %>
                        <% else %>
                              <%= f.date_field :date_closed, class: 'form-control', :value => @events.date_closed %>
                        <% end %>
                  </td>
            </tr>
      </table>
      <br/>
      
      <%= f.label :what_happened %>
      <% if yield(:show_flag) == "show" %>
            <%= f.text_area :what_happened, class: 'form-control', :disabled => true, :rows => 5 %>
      <% else %>
            <%= f.text_area :what_happened, class: 'form-control' %>
      <% end %>

      <br/>
      
      <%= f.label :immediate_actions %>
      <% if yield(:show_flag) == "show" %>
            <%= f.text_area :immediate_actions, class: 'form-control', :disabled => true, :rows => 5 %>
      <% else %>
            <%= f.text_area :immediate_actions, class: 'form-control' %>
      <% end %>


      <br/>

      <%= f.label :follow_up %>
      <% if yield(:show_flag) == "show" %>
            <%= f.text_area :follow_up, class: 'form-control', :disabled => true, :rows => 5 %>
      <% else %>
            <%= f.text_area :follow_up, class: 'form-control' %>
      <% end %>

      <br/>

      <%= f.label :closed_flag, "UNOR Closed" %>
      <%= f.check_box :closed_flag, disabled: :true %>
        
      <br/>

      <% if @events.closed_flag == false %>
            <% if yield(:new_flag) == "true" %>
                  <%= f.submit yield(:button_text), class: "btn btn-primary", :style =>"display: none", :id => "submit-button" %>
            <% elsif yield(:guest_flag) == "true" %>
                  <%= f.submit yield(:button_text), class: "btn btn-primary", :style =>"display: none", :id => "submit-button" %>
            <% elsif yield(:show_flag) == "" %>
                  <% if @events.user_id == current_user.id %>
                        <%= f.submit yield(:button_text), class: "btn btn-primary" %>
                  <% elsif current_user.team == "SHEQ" %>
                        <%= f.submit yield(:button_text), class: "btn btn-primary" %>
                  <% elsif current_user.level >= 3 %>
                        <%= f.submit yield(:button_text), class: "btn btn-primary" %>
                  <% else %>
                  <% end %>
            <% else %>
                  <%= link_to "UNOR Options", options_events_path, class: "btn btn-primary", method: :get %>
                  <% if @events.acknowledged_flag == false && current_user.team == "SHEQ" %>
                        <%= link_to "Acknowledge UNOR", acknowledged_path(@events.id), class: "btn btn-primary", method: :patch %>
                  <% end %>
            <% end %>
      <% end %>

<% end %>
