<%= form_for :approval_routes, url: yield(:path), :method => yield(:method_text) do |f| %>
            
      <h3><i><%= @document.title %></i></h3>
            
      <br/>
      <%= f.label :author %>
      <% if yield(:show_flag) == "" %>
            <%#= f.select(:author_id, []) %>
            <%#= f.hidden_field :autor_id %>
            <%#= f.text_field :author, :value => "", :class => "form-control", :id => "dummy-author", disabled: true %>
      <% else %>
            <%= f.text_field :document_id, :value => "#{@author_user.first_name} #{@author_user.last_name}", :class => "form-control", disabled: true %>
      <% end %>
      
      <br/>
      <%= f.label :reviewer %>
      <% if yield(:show_flag) == "" %>
      
      <% else %>
            <%= f.text_field :document_id, :value => "#{@reviewer_user.first_name} #{@reviewer_user.last_name}", :class => "form-control", disabled: true %>
      <% end %>
      
      <br/>
      <%= f.label :approver %>
      <% if yield(:show_flag) == "" %>
      
      <% else %>
            <%= f.text_field :document_id, :value => "#{@approver_user.first_name} #{@approver_user.last_name}", :class => "form-control", disabled: true %>
      <% end %>
      
      <% if yield(:show_flag) == "" %>
      <br/><br/>
            <%= f.submit yield(:button_text), class: "btn btn-primary", :id => "submit-button" %>
      <% end %>
      
<% end %>