

<h3>User Information</h3>
<ul>
    <li>First Name: <%= current_user.first_name %></li>
    <li>Last Name: <%= current_user.last_name %></li>
    <li><hr></li>
    <li>Email: <%= current_user.email %></li>
    <li><br/></li>
    <li>Team: <%= current_user.team %></li>
</ul>
<hr>
<div id="sidebar-buttons">
    <%= link_to "Dashboard", dashboard_actions_path %>
    <% if current_user.level == 1 %>
        <%= link_to "Profile", users_path, class: "btn btn-secondary" %>
    <% elsif current_user.level == 2 %>
        <%= link_to "Team", users_path, class: "btn btn-secondary" %>
    <% else %>
        <%= link_to "Users", users_path, class: "btn btn-secondary" %>
    <% end %>
    <br/><hr>
    <%= link_to "Actions", actions_path, class: "btn btn-secondary" %>
    <% if current_user.approval_type != nil %>
        <%= link_to "Tasks", tasks_actions_path, class: "btn btn-secondary" %>
    <% else %>
    <% end %>
    <br/>
    <%= link_to "UNORs", events_path, class: "btn btn-secondary" %>
    <% if current_user.team == "SHEQ" %>
        <%= link_to "Tasks", tasks_events_path, class: "btn btn-secondary" %>
    <% else %>
    <% end %>
    <br/>
    <%= link_to "Documents", documents_path, class: "btn btn-secondary" %>
    <% if current_user.approval_type != nil %>
        <%= link_to "Tasks", tasks_documents_path, class: "btn btn-secondary" %>
    <% else %>
    <% end %>
    <br/><hr>
</div>
