<!DOCTYPE html>
<html>
  <head>
    <title>SheqActionApp</title>
    
    <%= render 'layouts/rails_default'%>
    <%= render 'layouts/shim' %>
  </head>

  <body>
    <div class="container">
      
      <header><%= render 'layouts/header' %></header>
      
      
      <% if current_user %>
      
        <table class="sidebar-right" id="actual-table">
          <tr>
            <td class="main col-xs-8">
              <section>
                <%= yield %>
              </section>
            </td>

            <td class="sidebar col-xs-4">
              <aside>
                <%= render 'layouts/sidebar' if current_user %>
              </aside>
            </td>
          </tr>
        </table>
        
        <% else %>
        
        <div>
            <section class="main col-xs-12">
            <%= yield %>
            </section>
        </div>
        
        <% end %>
    
      <footer><%= render 'layouts/footer' %></footer>
    </div>
  </body>
</html>
