<!DOCTYPE html>
<html>
  <head>
    <title>SheqActionApp</title>
    
    <%= render 'layouts/rails_default'%>
    <%= render 'layouts/shim' %>
  </head>

  <body>
    <div class="container"> <!-- bootstrap container div -->
      
      <header><%= render 'layouts/header' %></header>
      
      
      <% if current_user %>
      
        <table id="structure-table">
          <tr>
            <td class="main col-xs-9">
              <section>
                <%= yield %>
              </section>
            </td>

            <td class="sidebar col-xs-3">
              <aside>
                <%= render 'layouts/sidebar' if current_user %>
              </aside>
            </td>
          </tr>
        </table>
        
        <% else %>
        
          <div class="main col-xs-12">
              <section>
                <%= yield %>
              </section>
          </div>
        
        <% end %>
    
      <footer>
        
        <%= render 'layouts/footer' %>

      </footer>

    </div>

  </body>

</html>
